.previewImg {
  font-family: udemy sans, sf pro text, -apple-system, BlinkMacSystemFont,
    Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol;
  font-weight: 400;
  line-height: 1.4;
  font-size: 1.6rem;
  color: #1c1d1f;
  width: 344px;
  position: static;
  height: fit-content;
  padding: 0;
}

.previewBody {
  z-index: 9;
  padding: 20px 18px;
  width: 344px;
  box-shadow: 0px 0px 1px 1px gray;
  background-color: white;
  position: sticky;
  align-items: flex-start;
  height: fit-content;
  top: 5px;
}
.preview2 {
  z-index: 9;
  padding: 20px 18px;
  width: 344px;
  box-shadow: 0px 0px 1px 1px gray;
  position: sticky;
  right: 5px;
  top: 0;
  background-color: white;
}
.previewPrice {
  font-size: 32px;
  vertical-align: middle;
  margin: 20px 0;
  font-weight: 700;
}
.originalPreviewPrice {
  color: RGB(106, 111, 115);
  font-size: 16px;
  font-weight: 400;
}
.discount {
  font-size: 16px;
  font-weight: 400;
}
.buy,
.addToCart,
.business-btn {
  width: 100% !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  padding: 6px 6px !important;
  margin: 3px auto !important;
}
span,
div {
  margin: 10px auto;
}
.addToCart {
  background-color: RGB(135, 16, 216);
  color: white;
  border: RGB(135, 16, 216) solid 1px;
}
.buy,
.business-btn {
  background-color: white !important;
  border: black solid 1px !important;
  color: black !important;
}

i {
  width: 14px;
  max-height: 10px;
  align-self: left;
  justify-self: left;
  padding-left: 0;
  margin-left: 0;
}
svg {
  width: 10px;
  padding-right: 4px;
  box-sizing: content-box;
}

.share {
  color: black;
  font-size: 14px;
  font-weight: 700;
  margin: auto;
  text-underline-offset: 3px;
}
.share span {
  padding: 12px;
}
.business h2 {
  font-size: 19px;
  font-weight: 700;
}
.business p {
  font-size: 14px;
  font-weight: 400;
}

.include {
  font-size: 14px;
}

@media only screen and (max-width: 1024px) {
  .previewToHide {
    display: none;
  }
}
