.coursePage {
  height: 600vh;
  padding: auto;
}
.coursePage :not(.headerBackground) {
  max-width: 80rem;
}
.headerBackground {
  width: 100% !important;
  background-color: black;
}

.section {
  margin-bottom: 3rem;
}

.overviewBody,
.reviewBody,
.instructorBody,
.overviewOuter,
.lectureBody {
  padding: 30px !important;
  box-sizing: border-box;
  max-width: "80rem";
}
