/*Nav*/
.pers-nav {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  font-family: sans-serif;
  font-size: 15px;
  box-shadow: 2px 0 4px 0 grey;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  margin: 0 0;
  padding: 0px 15px;
  gap: 25px;
  z-index: 2;
}

.pers-log {
  color: black;
  font-weight: bold;
  background-color: whitesmoke(0, 0, 0, 0pers-489);
  border: 1px solid black;
  padding: 10px 20px 10px 20px;
  width: auto;
}

.pers-sign {
  color: white;
  font-weight: bold;
  background-color: black;
  border: 1px solid black;
  padding: 10px 15px 10px 15px;
  width: auto;
}

.pers-bar {
  float: right;
  background-color: transparent;
  border: none;
  width: calc(100% - 70px);
  height: inherit;
  outline: none;
  box-sizing: border-box;
}

.pers-sbutton {
  background-color: transparent;
  border-radius: 50px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  width: 40px;
  border: none;
  height: inherit;
}
form {
  width: 46%;
}
.pers-form {
  display: flex;
  font-family: sans-serif;
  font-size: 15px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  margin: 0 0;
  border: 1px solid black;
  background-color: ghostwhite;
  border-radius: 50px;
  height: 50px;
}

.pers-lang {
  border: solid black 1px;
  vertical-align: middle;
  padding: 5px;
  width: 35px;
}
.pers-last {
  display: flex;
  font-family: sans-serif;
  font-size: 15px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  margin: 0 auto;
  padding: 20px 10px 20px 0;
  gap: 8px;
}
#logo {
  display: block;
  width: 90px;
  max-width: 100%;
  height: auto;
  padding: 0;
}
#bar {
  display: none;
}
@media only screen and (max-width: 1500px) {
  .pers-bus {
    display: none;
  }
}
@media only screen and (max-width: 1200px) {
  .pers-teach {
    display: none;
  }
}
@media only screen and (max-width: 1000px) {
  .pers-navitem {
    display: none;
  }
  .pers-site,
  #bar {
    display: inline;
    margin: 0;
  }
  #bar {
    font-size: 20px;
    position: relative;
    top: 7px;
  }
  .pers-site {
    float: right;
  }
  .pers-nav {
    display: inline-block;
    width: 100%;
    padding: 20px 5% 0px 5%;
  }
}
