.courses {
  width: 100% !important;
  margin: 40px auto !important;
  border: gainsboro solid 1px !important;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.content {
  width: 90%;
  margin-top: 40px;
}
.content h1 {
  font-size: 32px;
  font-weight: 700;
}
.content p {
  font-size: 19px;
  font-weight: 400;
}
.courses h2 {
  font-size: 24px;
  font-weight: 700;
}
.courses p {
  font-size: 16px;
}
.view {
  margin: auto !important;
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  justify-content: left !important;
  align-items: flex-start !important;
  gap: 20px !important;
}
.card {
  width: 100% !important;
  max-width: 250px !important;
  align-items: center !important;
  display: inline-block !important;
  padding: 0 !important;
}
.course-img,
.author,
.course-title,
.price {
  margin: 0 !important;
  border: black !important;
  font-size: 16px !important;
  font-weight: 700 !important;
}
.author {
  color: gray !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}
.price {
  font-weight: bold !important;
  font-size: 14px !important;
}
.course-img {
  width: inherit !important;
}

.pers-rate {
  color: goldenrod !important;
  padding: 1px !important;
  display: inline block !important;
}
.pers-rate-num {
  padding: 1px !important;
  color: brown !important;
  font-weight: bold !important;
}
.pers-rate,
.pers-rate-num {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.sectionHeader {
  font-size: 24px !important;
  font-weight: 700 !important;
}
a {
  color: inherit !important;
  text-decoration: none !important;
}
