.container {
  width: 90%;
  margin: auto;
}
.view {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: flex-start;
  gap: 20px;
}
.card {
  width: 100%;
  max-width: 250px;
  align-items: center;
  display: inline-block;
  padding: 0;
}
.course-img,
.author,
.course-title,
.price {
  margin: 0;
  border: black;
}
.author {
  color: gray;
}
.price {
  font-weight: bold;
}
.course-img {
  width: inherit;
}
