.courses {
  width: 100% !important;
  margin: 40px auto !important;
  border: gainsboro solid 1px !important;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.content {
  width: 90%;
  margin-top: 40px;
}
.content h1 {
  font-size: 32px;
  font-weight: 700;
}
.content p {
  font-size: 19px;
  font-weight: 400;
}
.courses h2 {
  font-size: 24px;
  font-weight: 700;
}
.courses p {
  font-size: 16px;
}
.view {
  margin: auto !important;
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  justify-content: left !important;
  align-items: flex-start !important;
  gap: 20px !important;
}
.card {
  width: 100% !important;
  max-width: 250px !important;
  align-items: center !important;
  display: inline-block !important;
  padding: 0 !important;
}
.course-img,
.author,
.course-title,
.price {
  margin: 0 !important;
  font-size: 16px !important;
  font-weight: 700 !important;
}
.course-img {
  border: gainsboro solid 1px;
}
.author {
  color: gray !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}
.price {
  font-weight: bold !important;
  font-size: 14px !important;
}
.course-img {
  width: inherit !important;
}

.pers-rate {
  color: goldenrod !important;
  padding: 1px !important;
  display: inline block !important;
}
.pers-rate-num {
  padding: 1px !important;
  color: brown !important;
  font-weight: bold !important;
}
.pers-rate,
.pers-rate-num {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.sectionHeader {
  font-size: 24px !important;
  font-weight: 700 !important;
}
a {
  color: inherit !important;
  text-decoration: none !important;
}
.popup-box {
  position: relative;
  border: 50px transparent;
}

.popup-border {
  width: 350px;
  background-color: white;
  position: absolute;
  border: black solid px;
  box-sizing: content-box;
  bottom: 0;
  z-index: 8;
  padding: 0;
}

.popup-border::after {
  content: "";
  position: absolute;
  top: 250px;
  margin-left: -5px;
  border-width: 18px;
  border-top-width: 8.5px;
  border-bottom-width: 8.5px;
  height: 1px;
  width: 20px;
  border-style: solid;
  z-index: 8;
}
.popup {
  border: gainsboro solid 1px;
  padding: 20px;
}
.popup::after {
  content: "";
  position: absolute;
  top: 250px;
  z-index: 9;
  margin-left: -5px;
  border-width: 17px;
  border-top-width: 8px;
  border-bottom-width: 8px;
  height: 1px;
  width: 20px;
  border-style: solid;
  z-index: 9;
}
.left.popup::after {
  right: -33px;
  border-color: transparent transparent transparent white;
}
.left.popup-border::after {
  right: -36px;
  border-color: transparent transparent transparent gainsboro;
}
.popup-border.left {
  right: 107%;
}
.right.popup::after {
  left: -28px;
  border-color: transparent white transparent transparent;
}
.right.popup-border::after {
  left: -30px;
  border-color: transparent gainsboro transparent transparent;
}
.popup-border.right {
  left: 107%;
}
.heart-box {
  border: black solid 1px;
  width: fit-content;
  display: inline-block;
  padding: 13px;
  border-radius: 100%;
  margin-left: 20px;
}

.heart-box i {
  font-size: 22px;
  width: fit-content;
}

.popup-hours {
  font-size: 12px !important;
  color: RGB(106, 111, 115);
}
.popup-date {
  font-size: 12px !important;
  color: RGB(30, 96, 85) !important;
}
